$in_the_black: #262626;
$white_off: #fff;
$zen_blue: #025d96;
$payment_purple: #8255b3;
$bank_tealer: #059e9a;
$greenback: #39b54a;
$ruby_red: #ee4235;
$dreamcicle: #fa7930;
$goldrush: #ffc125;
$md_green: #8dc63f;
$greedy_gray: #f5f5f5;
$shiny_silver: #c9c9c9;

$light_dots: '/images/backgrounds/bg-dot-light.png';
$dark_dots: '/images/backgrounds/bg-dot-dark.png';
$dark_full_dots: '/images/backgrounds/bg-dot-full.png';

$mobile_max: 568px;
$tablet_min: 569px;
$tablet_max: 1079px;
$desktop_min: 1080px;
$desktop_max: 1600px;