<!doctype html>
<html>

  <%= partial "partials/head" %>

  <body class="homepager">
	<%= partial "partials/hs-header" %>

	<%= partial "partials/hs-body" %>

	<%= partial "partials/hs-footer" %>
  </body>
</html>
