<!doctype html>
<html>

  <%= partial "partials/head" %>

  <body>
	<%= partial "partials/hs-header" %>

	<%= partial "partials/hs-body-long" %>

	<%= partial "partials/hs-footer" %>
  </body>
</html>