<footer class="footer">
  <div class="footer-links">
    <ul>
      <li>Product</li>
      <li>Services</li>
      <li>Company</li>
      <li>Resources</li>
      <li>Pricing</li>
    </ul>
  </div>
  <div class="footer-logo-wrap">
    <span class="logo iconmx-logo"></span>
  </div>
  <div class="footer-address">
    <p>&#169; 2015 - MX Technologies Inc.</p>
    <p>3401 N Thanksgiving Way Ste 500</p>
    <p>Lehi, UT 84043</p>
  </div>
</footer>
