<div id="nav-icon-wrap" class="<%= theme %>">
  <div class="nav-icon-placement">
    <div id="nav-icon">  
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div class="nav-angle <%= theme %>"></div>

<div class="nav-right-color <%= theme %>"></div>