<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">
        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
            <div class="row-fluid">
                <div class="span12 widget-span widget-type-menu footer-menu" style data-widget-type="menu" data-x="0" data-w="12">
                    <div class="cell-wrapper layout-widget-wrapper">
                        <span id="" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style data-hs-cos-general-type="widget" data-hs-cos-type="menu">
                            <div id="" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-horizontal" data-sitemap-name="Footer Menu">
                                <ul>
                                    <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children">
                                        <a href="">Solutions</a>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children">
                                        <a href="">Products</a>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-1">
                                        <a href="">Company</a>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-1">
                                        <a href="">Resources</a>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-1">
                                        <a href="">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid-wrapper row-depth-1 row-number-2">
            <div class="row-fluid">
                <div class="span12 widget-span widget-type-custom_widget mx-logo-vector" style data-widget-type="custom_widget" data-x="0" data-w="12">
                    <div class="cell-wrapper layout-widget-wrapper">
                        <span id="" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
                            <a href="/">
                                <span class="logo iconmx-logo"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid-wrapper row-depth-1 row-number-3">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-raw_jinja " style data-widget-type="raw_jinja" data-x="0" data-w="12">
                    <div itemscope itemtype="http://schema.org/LocalBusiness">
                        <p>© 2016 – <span itemprop="name"MX Technologies Inc.>MX Technologies Inc.</span></p>

                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <a href="https://www.google.com/maps/place/MX+Technologies+Inc./@40.4293757,-111.8936811,17z/data=!4m5!1m2!2m1!1s3401+North+Thanksgiving+Way+Ste+500+Lehi,+UT+84043!3m1!1s0x874d900620024653:0x8e2dbb890d30bbfa">
                                <p><span itemprop="streetAddress">3401 North Thanksgiving Way Ste 500</span></p>
                                <p><span itemprop="addressLocality">Lehi</span>, <span itemprop="addressRegion">UT</span> <span itemprop="postalCode">84043</span></p>
                            </a>
                            <p><a href="tel:+18016695500"><span itemprop="telephone">(801) 669-5500</span></a></p>
                            <p><br><a href="/privacy-notice">Privacy Notice</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>