<section class="band jobvite bgc-white">
	<div class="wrap">
		<!-- BEGIN JOBVITE CODE -->
		<iframe id="jobviteframe" src="//hire.jobvite.com/CompanyJobs/Careers.aspx?k=JobListing&c=qp3aVfwh&v=1&jvresize=http://www.mx.com/hubfs/FrameResize.html" width="100%" height="500px" scrolling="no" frameborder="0" allowtransparency=”true”>Sorry, iframes are not supported.</iframe>
		<script type="text/javascript">
			var l = location.href;
			var args = '';
			var k = '';
			var iStart = l.indexOf('?jvk=');
			if (iStart == -1) iStart = l.indexOf('&jvk=');
			if (iStart != -1) {
				iStart += 5;
				var iEnd = l.indexOf('&', iStart);
				if (iEnd == -1) iEnd = l.length;
	    		k = l.substring(iStart, iEnd);
			}

			Start = l.indexOf('?jvi=');
			if (iStart == -1) iStart = l.indexOf('&jvi=');
			if (iStart != -1) {
				iStart += 5;
				var iEnd = l.indexOf('&', iStart);
				if (iEnd == -1) iEnd = l.length;
				args += '&j=' + l.substring(iStart, iEnd);
				if (!k.length) args += '&k=Job';
				var iStart = l.indexOf('?jvs=');
				if (iStart == -1) iStart = l.indexOf('&jvs=');
				if (iStart != -1){
					iStart += 5;
					var iEnd = l.indexOf('&', iStart);
					if (iEnd == -1) iEnd = l.length;
					args += '&s=' + l.substring(iStart, iEnd);
				}
			}

			iStart = l.indexOf('?jvsrc=');
			if (iStart == -1) iStart = l.indexOf('&jvsrc=');
			if (iStart != -1) {
				iStart += 7;
				var iEnd = l.indexOf('&', iStart);
				if (iEnd == -1) iEnd = l.length;
				args += '&jtsrc=' + l.substring(iStart, iEnd);
			}

			if (k.length) args += '&k=' + k;
			if (args.length) document.getElementById('jobviteframe').src += args;
				function resizeFrame(height, scrollToTop) {
				// if (scrollToTop) window.scrollTo(0, 0);
				var oFrame = document.getElementById('jobviteframe');
				if (oFrame) oFrame.height = height;
		      }
		</script>
		<!--END JOBVITE CODE -->
	</div>

	<div class="wedgebox"></div>
</section>