<h3 id="" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text">Fill Out this Form to receive Your 4 step action plan</h3>
<div id="">
	<form novalidate="" accept-charset="UTF-8" action="" enctype="multipart/form-data" id="" method="POST" class="hs-form stacked hs-custom-form" data-form-id="" data-reactid="">
		<fieldset class="form-columns-2" data-reactid="">
			<div class="hs_firstname field hs-form-field" data-reactid="">
				<label class="" placeholder="Enter your " for="" data-reactid="">
					<span data-reactid=""></span>
				</label>

				<legend class="hs-field-desc" style="display:none;" data-reactid=""></legend>

				<div class="input" data-reactid="">
					<input id="" class="hs-input" type="text" name="firstname" value="" placeholder="First Name" data-reactid="">
				</div>
			</div>

			<div class="hs_lastname field hs-form-field" data-reactid="">
				<label class="" placeholder="Enter your " for="" data-reactid="">
					<span data-reactid=""></span>
				</label>

				<legend class="hs-field-desc" style="display:none;" data-reactid=""></legend>

				<div class="input" data-reactid="">
					<input id="" class="hs-input" type="text" name="lastname" value="" placeholder="Last Name" data-reactid="">
				</div>
			</div>
		</fieldset>

		<fieldset class="form-columns-1" data-reactid="">
			<div class="hs_email field hs-form-field" data-reactid="">
				<label class="" placeholder="Enter your " for="" data-reactid="">
					<span data-reactid=""></span>

					<span class="hs-form-required" data-reactid="">*</span>
				</label>

				<legend class="hs-field-desc" style="display:none;" data-reactid=""></legend>

				<div class="input" data-reactid="">
					<input id="" class="hs-input" type="email" name="email" required="" placeholder="Your Email Address *" value="" data-reactid="">
				</div>
			</div>
		</fieldset>

		<fieldset class="form-columns-1" data-reactid="">
			<div class="hs_email field hs-form-field" data-reactid="">
				<label class="" placeholder="Enter your " for="" data-reactid="">
					<span data-reactid=""></span>
				</label>

				<legend class="hs-field-desc" style="display:none;" data-reactid=""></legend>

				<div class="input" data-reactid="">
					<select id="appType" class="hs-input">
						<option>-- Select Apprenticeship --</option>
						<option>Frontend (Javascript)</option>
						<option>Mobile (C++)</option>
						<option>DevOps</option>
						<option>Backend (Ruby)</option>
					</select>
				</div>
			</div>
		</fieldset>

		<fieldset class="form-columns-1" data-reactid="">
			<div class="hs_email field hs-form-field" data-reactid="">
				<label class="" placeholder="Enter your " for="" data-reactid="">
					<span data-reactid=""></span>
				</label>

				<legend class="hs-field-desc" style="display:none;" data-reactid=""></legend>

				<div class="input" data-reactid="">
					<textarea id="message-4fe0bd22-f25d-4e81-adda-d22f74163f1c_114" class="hs-input invalid error" name="message" required="" placeholder="Message" data-reactid=".0.1:$3.$message.$message.0"></textarea>
				</div>
			</div>
		</fieldset>

		<div class="hs_submit" data-reactid="">
			<div class="hs-field-desc" style="display:none;" data-reactid=""></div>

			<div class="actions" data-reactid="">
				<input type="submit" value="Download" class="hs-button primary large" data-reactid="">
			</div>
		</div>

		<input name="hs_context" type="hidden" value="" data-reactid="">
	</form>
</div>